.App {
  text-align: center;
}

/*styling rules to render the map with mapbox*/
.map-container {
  height: 400px;
  width: auto;
  }

button{
  margin: 30px auto;
}

.forecast-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 30px;
}